<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">New Company</h3></div>
  <div class="panel-body">

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-9">
          <input type="name" class="form-control" id="name" name="name" placeholder="Name of the Company" required>
        </div>
      </div>
	
      <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-9">
          <textarea type="description" class="form-control" rows="3" id="description" name="description" placeholder="Description of the Company"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label for="picture" class="col-sm-2 control-label">Picture</label>
        <div class="col-sm-9">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-picture"></span>
            </span>
            <button type="button" class="btn btn-default" id="picture">Select</button>
          </div>
        </div>
      </div>	

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <button type="button" class="btn btn-success" {{action 'save'}}>Save Company</button>
          {{#link-to 'companies'}}<button type="button" class="btn btn-danger">Cancel</button>{{/link-to}}
        </div>
      </div>
	
    </form>
  </div>
</div>